.site-footer
	@extend .clearfix
	padding-top: 108px
	padding-bottom: 88px
	&__about
		float: left
		max-width: 270px
	&__logo
		margin-bottom: 30px
	&__text
		font-size: 14px
		line-height: 1.72
		color: $color-grey
		margin-bottom: 24px
	&__cols
		float: right
	+max-screen($breakpoint-lg)
		&__about
			max-width: 190px
	+max-screen($breakpoint-md)
		padding-top: 50px
		padding-bottom: 95px
		&__about
			max-width: 434px
			float: none
			margin-bottom: 70px
		&__cols
			float: none

.footer-cols
	&__item
		display: inline-block
		margin-right: 89px
		&:nth-child(2)
			margin-right: 60px
	&__title
		margin-bottom: 20px
		color: $color-dark
	&__text
		margin-bottom: 18px
	&__link
		color: $color-grey
	+max-screen($breakpoint-lg)
		&__item
			margin-right: 45px
	+max-screen($breakpoint-md)
		&__item
			display: block
			margin-bottom: 42px
			&:last-child
				margin-bottom: 0
		&__title
			font-weight: 500
