.popup-video
	text-align: center
	&__title
		font-size: 32px
		color: #fff
		margin-bottom: 18px
		font-weight: 400
		letter-spacing: 0.05em
	&__player
		width: 720px
		height: 420px
		background-color: #000
