.rating
	text-align: center
	&__item
		display: inline-block
		margin: 0 4px
		width: 23px
		height: 22px
		background-image: inline("../img/star.svg")
		background-size: cover
		&._active
			background-image: inline("../img/star-active.svg")
