.title
	font-size: $title-font-size
	font-weight: 500
	&._line-bottom
		&:after
			content: ""
			display: block
			background-color: $color-main
			width: 50px
			height: 2px
			margin-right: auto
			margin-left: auto
			margin-top: 38px
	+max-screen($breakpoint-lg)
		font-size: 52px
		
