.section-description
	padding-top: 113px
	padding-bottom: 327px
	&__image
		position: absolute
		left: -340px
	&__content
		position: relative
		padding-top: 155px
	&__title
		margin-bottom: em(58px, $title-font-size)
	&__text-content
		margin-bottom: em(70px, $default-font-size)
	&__text
		margin-bottom: em(20px, $default-font-size)
	&__button
		float: left
		margin-right: 20px
