.section-description
	padding-top: 113px
	padding-bottom: 327px
	overflow: hidden
	&__image
		$width: 1009px
		position: absolute
		right: 45%
		width: $width
		max-width: $width
		height: auto
	&__content
		position: relative
		padding-top: 11.5%
	&__title
		margin-bottom: em(65px, $title-font-size)
		line-height: 1.25
	&__text-content
		margin-bottom: em(71px, $default-font-size)
	&__text
		margin-bottom: em(23px, $default-font-size)
		&:last-child
			margin-bottom: 0
	&__buttons
		white-space: nowrap
	&__button
		display: inline-block
		margin-right: 17px
		&:last-child
			margin-right: 0
	+max-screen($breakpoint-lg)
		padding-top: vw(150px)
		&__title
			font-size: 52px
	+max-screen($breakpoint-md)
		+responsive-property(padding-top, 105px)
		+responsive-property(padding-bottom, 40px)
		&__content
			padding-top: 0
			+responsive-property(margin-bottom, 75px)
		&__title
			+responsive-property(margin-bottom, 63px)
			+responsive-property(font-size, 52px)
			line-height: 1.05
		&__text-content
			+responsive-property(margin-bottom, 64px)
		&__text
			+responsive-property(margin-bottom, 33px)
		&__image
			display: block
			position: static
			margin-right: auto
			margin-left: auto
			width: 100%
	+max-screen(410px)
		&__text-content
			margin-bottom: 9vw
		&__button
			display: block
			&:first-child
				margin-bottom: 15px
